img {
    display: block;
    width: 100%;
    height: auto;
}

.cart-item {
    margin-bottom: 1.5em;
    padding: 1em;
}

.imgframe {
    display: block;
}

/* .item-info {
    padding: 0;
} */

.item-name {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.remove-btn {
    display: block;
    background-color: var(--warning);
    color: #282828;
    width: 6em;
    padding: 0.8em 0.6em;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.5px;
    position: absolute;
    bottom: 0;
    left: 1em;
    transition: all 0.3s ease;
}

.remove-btn:hover {
    background-color: var(--orange);
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 2em;
}

.checkout-btn {
    display: block;
    background-color: var(--success);
    color: #fff;
    padding: 0.8em 1em;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}

.continue-btn {
    display: block;
    background-color: var(--primary);
    color: #fff;
    padding: 0.8em 1em;
    font-weight: 600;
    letter-spacing: 0.5px;
    transition: all 0.3s ease;
}

.checkout-btn:hover {
    color: #fff;
    background-color: #208938;
}

.continue-btn:hover {
    color: #fff;
    background-color: #0062cb;
}

.item-size {
    color: #282828;
    font-size: 1.5em;
}

.item-price {
    color: #fe4c50;
    font-size: 20px;
    font-weight: 500;
}

.total-info {
    text-align: right;
}

.total {
    font-size: 20px;
    color: #282828;
    margin-right: 0.5em;
}

.empty-cart {
    text-align: center;
    font-size: 24px;
    background-color: #ffd453;
    padding: 1em;
}

@media only screen and (max-width: 479px) {
    .item-name {
        margin-bottom: 0;
    }
    p {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 400px)
{
	.item-size {
        font-size: 1em;
    }
    .item-price {
        font-size: 16px;
    }
}

@media only screen and (max-width: 370px)
{
	.remove-btn {
        position: static;
    }
}