.navbar_menu li a {
    font-weight: 600;
    letter-spacing: 0.5px;
}

.navbar_menu > li {
    position: relative;
}

.dropdown {
    text-align: center;
    display: block;
    position: absolute;
    top: -200vh;
    opacity: 0;
    background-color: #fff;
    /* transition: all 0.3s ease; */
}

.dropdown.show {
    top: calc(100% + 1.15rem);
    opacity: 1;
}

.dropdown li {
    display: block;
    border-top: 1px solid #ccc;

}

.dropdown li a {
    padding-block: 0.5em;
}

.mobile_nav > ul > li > a {
    font-weight: 600;
}

.mobile_nav li a {
    letter-spacing: 0.5px;
}

.hamburger_menu.active {
    overflow: auto;
}

@media only screen and (max-width: 1199px) {
    .navbar_menu li a {
        padding: 20px 10px;
    }
}
