.dropdown-menu {
    padding: 0;
}

.navbar_menu li a {
    font-weight: 600;
    letter-spacing: 0.5px;
    padding: 20px 15px;
}

.navbar_menu li .dropdown a {
    padding-block: 0.5em;
    border-top: 1px solid #ccc;
    text-align: center;
}

.navbar_menu li .dropdown a:first-child {
    border-top: none;
}

.mobile_nav > ul > li > a {
    font-weight: 600;
}

.mobile_nav li a {
    letter-spacing: 0.5px;
}

.hamburger_menu.active {
    overflow: auto;
}

.navbar_user li {
    position: relative;
}

#search-form {
    display: none;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

#search-form.expand {
    display: flex;
}

#search-form input {
    border-radius: 2em;
    border: 2px solid #ccc;
    padding: 0.4em 0.8em;
    width: 20em;
}

#search-form button {
    border: none;
    background: none;
    padding: 0.4em 0.6em;
    position: absolute;
    right: 0.4em;
}

@media only screen and (max-width: 1280px)
{
	.navbar_menu > li > a {
        padding: 20px 15px;
    }
}

@media only screen and (max-width: 1199px) {
    .navbar_menu > li > a {
        padding: 20px 7px;
    }

    .navbar_user {
        margin-left: 0;
    }
}
