{% extends 'common/base.html' %}
{% load static %}
{% load i18n %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
{% endblock %}

{% block content %}
<div class="container first-container">
    <h1 class="error-code">404</h1>
    <p class="error-message">{% trans 'The page you are looking for is not found.' %}</p>
    <div class="error-status-image">
        <img src="{% static 'images/confused.jpg' %}" alt="404">
    </div>
</div>
{% endblock %}
