{% load i18n %}

{% for item_number, entry in cart.items %}
    {% for size, data in entry.sizes.items %}
    <div class="row cart-item">
        <div class="col-6 col-md-4">
            <a href="{% url 'item-details' entry.item.slug %}" class="imgframe">
                <img src="{{ entry.item.pictures.first.image.url }}" alt="{{ entry.item.name }}">
            </a>
        </div>
        <div class="col-6 col-md-8 item-info">
            <h3 class="item-name">{{ entry.item.name }}</h3>
            <p class="item-size"><span>{{ size }}</span> x <span>{{ data.quantity }}</span></p>
            <p class="item-price">{{ data.total }} {% trans 'lv' %}</p>
            <form action="{% url 'remove-from-cart' entry.item.pk %}" method="post">
                {% csrf_token %}
                <input class="size" type="hidden" name="size" value="{{ size }}">
                <button class="remove-btn">{% trans 'remove'|upper %}</button>
            </form>
        </div>
    </div>
    {% endfor %}
{% endfor %}

{% if cart|length %}
<div class="row">
    <div class="col">
        <p class="total-info"><span class="total">{% trans 'Total:' %} </span><span class="item-price">{{ cart_total }} {% trans 'lv' %}</span></p>
    </div>
</div>
<div class="buttons">
    <form method="post" action="{% url 'clear-cart' %}">
        {% csrf_token %}
        <button class="clear-btn">{% trans 'clear cart'|upper %}</button>
    </form>
    <a href="{% url 'home' %}" class="continue-btn">{% trans 'continue shopping'|upper %}</a>
    <a href="{% url 'checkout' %}" class="checkout-btn">{% trans 'to checkout'|upper %}</a>
</div>
{% else %}
<div class="container-fluid empty-cart">
    {% trans 'Your cart is empty.' %}
</div>
{% endif %}
