{% load i18n %}
{% load static %}

{% for cart_item in cart.cart_items.all %}
<div class="row cart-item">
    <div class="col-6 col-md-4">
        <a href="{% url 'item-details' cart_item.item.slug %}" class="imgframe">
            {% if cart_item.item.pictures.first %}
            <img src="{{ cart_item.item.pictures.first.image_url }}" alt="{{ cart_item.item.name }}">
            {% else %}
            <img src="{% static 'images/item.jpg' %}" alt="no image">
            {% endif %}
        </a>
    </div>
    <div class="col-6 col-md-8 item-info">
        <h3 class="item-name">{{ cart_item.item.name }}</h3>
        <p class="item-size"><span>{{ cart_item.size.size }}</span> x <span>{{ cart_item.quantity }}</span></p>
        <p class="item-price">{{ cart_item.total_price }} {% trans 'lv' %}</p>
        <form action="{% url 'remove-from-cart' cart_item.item.pk %}" method="post">
            {% csrf_token %}
            <input class="size" type="hidden" name="size" value="{{ cart_item.size.size }}">
            <button class="remove-btn">{% trans 'remove' %}</button>
        </form>
    </div>
</div>
{% endfor %}

{% if cart.cart_items.count %}
<div class="row">
    <div class="col">
        <p class="total-info"><span class="total">{% trans 'Total:' %} </span><span class="item-price">{{ cart.total }} {% trans 'lv' %}</span></p>
    </div>
</div>
<div class="buttons">
    <form method="post" action="{% url 'clear-cart' %}">
        {% csrf_token %}
        <button class="clear-btn">{% trans 'clear cart'|upper %}</button>
    </form>
    <a href="{% url 'home' %}" class="continue-btn">{% trans 'continue shopping'|upper %}</a>
    <a href="{% url 'checkout' %}" class="checkout-btn">{% trans 'to checkout'|upper %}</a>
</div>
{% else %}
<div class="container-fluid empty-cart">
    {% trans 'Your cart is empty.' %}
</div>
{% endif %}