{% extends 'common/base.html' %}
{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/custom_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/checkout_styles.css' %}?v=1">
{% endblock %}

{% block content %}
<div class="container first-container">
    <div class="row">
        <div class="col-lg-7 order-2 order-lg-1">
            <div class="row order-option">
                <form method="post" class="d-flex gap-2 align-items-end">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="phone">
                    <div class="form-floating flex-grow-1">
                        {{ phone_order_form.phone|as_crispy_field }}
                    </div>
                    <button type="submit" class="btn btn-success form-group button">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        {% trans 'Order with phone' %}
                    </button>
                </form>
                <p>{% trans 'Leave your phone number and we will contact you about the details.' %}</p>
            </div>
            <div class="row order-option">
                <form method="post" id="shipping-form" novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="shipping">
                    <input type="hidden" id="town_id" value="">

                    {% if shipping_form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ shipping_form.non_field_errors }}
                        </div>
                    {% endif %}

                    <p>{% trans 'The fields marked with * are required' %}</p>

                    {{ shipping_form.first_name|as_crispy_field }}
                    {{ shipping_form.last_name|as_crispy_field }}
                    {{ shipping_form.phone|as_crispy_field }}
                    {{ shipping_form.email|as_crispy_field }}

                    {{ shipping_form.shipping_method|as_crispy_field }}

                    {{ shipping_form.town|as_crispy_field }}
                    <ul id="town-suggestions" class="autocomplete-list">
                    </ul>

                    {{ shipping_form.office|as_crispy_field }}

                    {{ shipping_form.comment|as_crispy_field }}

                    <button type="submit" class="btn btn-success form-group button">{% trans 'Send Order' %}</button>
                </form>

                <div id="hidden-fields" style="display: none;">
                    <div id="address-fields">
                        {{ address_form|crispy }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 order-1 order-lg-2 order-info">
            {% if request.user.is_authenticated %}
                {% include 'sales/authenticated-user-checkout-content.html' %}
            {% else %}
                {% include 'sales/anonymous-user-checkout-content.html' %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/cart.js' %}"></script>
<script src="{% static 'js/checkout.js' %}?v=2"></script>
{% endblock %}