{% extends 'common/base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}

{% block meta %}
<meta name="robots" content="noindex, nofollow">
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/thankyou_styles.css' %}">
{% endblock %}

{% block content %}

<div class="container first-container">
    <h2>{% trans 'Thank you for your order' %}</h2>
    <p>{% trans 'Your order has been received and is being processed.' %}</p>
    <p>{% trans 'The number of your order is:' %} <span class="order-num">{{ object.order_code }}</span></p>
    <p>{% trans 'We will contact you as soon as possible.' %}</p>
</div>

<script>
    fbq('track', 'Purchase', {
                content_ids: {{ content_ids|safe }},
                num_items: {{ num_items }},
                currency: "EUR", 
                value: {{ object.total|unlocalize }}
                });
</script>

{% endblock %}

{% block scripts %}
<script src="{% static 'js/cart.js' %}"></script>
{% endblock %}