{% extends 'common/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% load i18n %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/custom_styles.css' %}">
{% endblock %}

{% block content %}

<div class="container first-container">

    <form class="login" method="post" action="{% url 'login' %}">

        {% csrf_token %}
        {{ form|crispy }}

        <button type="submit" class="btn btn-success btn-lg mt-3 button-sharp">{% trans 'Sign in' %}</button>
    </form>

    <p class="lead mt-4">{% trans "Don't have an account?" %}</p>
    <a href="{% url 'register' %}" class="btn btn-primary btn-lg button-sharp">{% trans 'Register' %}</a>
    <p class="lead mt-4">{% trans 'or:' %}</p>
    
    <form action="{% provider_login_url 'google' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-social btn-google">
            <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/google/google-original.svg" alt="Google Logo">
            {% trans 'Sign in with Google' %}
        </button>
    </form>

</div>

<script>
    document.querySelector('form').addEventListener('submit', (e) => {
    console.log('Form is submitting...');
});
</script>

{% endblock %}