{% extends 'common/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/custom_styles.css' %}">
{% endblock %}

{% block content %}

<div class="container first-container">
    <div>
        <form class="px-lg-5" method="post">

            {% csrf_token %}
            {% crispy form %}

            <button type="submit" class="btn btn-success btn-lg">Register</button>
        </form>
    </div>
</div>

{% endblock %}