{% extends 'items/category.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans "Women's cardigans Vili Style" %}
{% endblock %}

{% comment %}
<meta name="title" content="Дамски жилетки - Онлайн Цени | Вили Стил">
<meta name="description" content="Разгледайте дамски жилетки от българския производител Вили Стил. Имаме голямо разнообразие от цветове и размери. За запитвания и поръчки - 0886531811">
{% endcomment %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{% trans 'home'|capfirst %}</a></li>
<li><a href="{% url 'all-items' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'clothes'|capfirst %}</a></li>
<li class="active"><a href="{% url 'cardigans' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'cardigans'|capfirst %}</a></li>
{% endblock %}

{% block h1 %}
<h1>{% trans "Women's cardigans" %}</h1>
{% endblock %}

{% block categories %}

{% endblock %}
