{% extends 'common/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Дамски дрехи - Онлайн Цени | Вили Стил
{# {% trans "Women's clothes Vili Style" %} #}
{% endblock %}

{% block meta %}
	{% if request.GET.page and request.GET|length == 1 and request.GET.page != '1' %}
		<link rel="canonical" href="{{ canonical_url }}?page={{ request.GET.page }}">
		<meta name="robots" content="index, follow">
		<meta name="title" content="{{ meta_title }} | Страница {{ request.GET.page }}">
		<meta name="description" content="{{ meta_description }} Страница {{ request.GET.page }}">
	{% elif request.GET %}
		<link rel="canonical" href="{{ canonical_url }}">
		<meta name="robots" content="noindex, follow">
	{% else %}
		<link rel="canonical" href="{{ canonical_url }}">
		<meta name="robots" content="index, follow">
		<meta name="title" content="{{ meta_title }}">
		<meta name="description" content="{{ meta_description }}">
	{% endif %}
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'plugins/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/categories_styles.css' %}?v=1">
<link rel="stylesheet" type="text/css" href="{% static 'styles/categories_responsive.css' %}">
{% endblock %}

{% block content %}
<div class="container product_section_container">
	<div class="row">
		<div class="col product_section clearfix">

			<!-- Breadcrumbs -->

			<div class="breadcrumbs d-flex flex-row align-items-center">
				<ul>
					{% block breadcrumbs %}
					<li><a href="{% url 'home' %}">{% trans 'home'|capfirst %}</a></li>
					<li class="active"><a href="{% url 'all-items' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'clothes'|capfirst %}</a></li>
					{% endblock %}
				</ul>
			</div>

			{% block h1 %}
			<h1>{% trans "Women's clothes" %}</h1>
			{% endblock %}

			<!-- Sidebar -->

			<div class="sidebar">
				{% block categories %}
				{% comment %}
				<div class="sidebar_section">
					<div class="sidebar_title">
						<h5>{% trans 'styles'|capfirst %}</h5>
					</div>
					<ul class="sidebar_categories">
						<li><a href="#">{% trans 'elegant'|capfirst %}</a></li>
						<li><a href="#">{% trans 'official'|capfirst %}</a></li>
						<li><a href="#">{% trans 'office'|capfirst %}</a></li>
					</ul>
				</div>
				<div class="sidebar_section">
					<div class="sidebar_title">
						<h5>{% trans 'categories'|capfirst %}</h5>
					</div>
					<ul class="sidebar_categories">
						<li class="active"><a href="{% url 'all-items' %}"><span><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>{% trans 'all'|capfirst %}</a></li>
						<li><a href="{% url 'pants' %}">{% trans 'pants'|capfirst %}</a></li>
						<li><a href="{% url 'skirts' %}">{% trans 'skirts'|capfirst %}</a></li>
						<li><a href="{% url 'dresses' %}">{% trans 'dresses'|capfirst %}</a></li>
						<li><a href="{% url 'shirts' %}">{% trans 'shirts'|capfirst %}</a></li>
						<li><a href="{% url 'blouses' %}">{% trans 'blouses'|capfirst %}</a></li>
						<li><a href="{% url 'tunics' %}">{% trans 'tunics'|capfirst %}</a></li>
						<li><a href="{% url 'blazers' %}">{% trans 'blazers'|capfirst %}</a></li>
						<li><a href="{% url 'suits' %}">{% trans 'suits'|capfirst %}</a></li>
						<li><a href="{% url 'jackets' %}">{% trans 'jackets'|capfirst %}</a></li>
						<li><a href="{% url 'coats' %}">{% trans 'coats'|capfirst %}</a></li>
						<li><a href="{% url 'vests' %}">{% trans 'vests'|capfirst %}</a></li>
					</ul>
				</div>
				{% endcomment %}
				{% endblock %}

				{% comment %}
				<!-- Price Range Filtering -->
				<div class="sidebar_section">
					<div class="sidebar_title">
						<h5>Filter by Price</h5>
					</div>
					<p>
						<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
					</p>
					<div id="slider-range"></div>
					<div class="filter_button"><span>filter</span></div>
				</div>
				{% endcomment %}
				<!-- Sizes -->
				<a href="#" class="filter-button">{% trans 'Filter Sizes' %}</a>
				<div class="sidebar_section">
					<div class="sidebar_title">
						<h5>{% trans 'sizes'|capfirst %}</h5>
					</div>
					<form class="filter_form" id="size_select">
						<input type="checkbox" class="show_toggle" id="size_toggle" style="display: none;">
						{% for key, value in query_params.lists %}
							{% if key != 'size' %}
								{% for element in value %}
								<input type="hidden" name="{{ key }}" value="{{ element }}">
								{% endfor %}
							{% endif %}
						{% endfor %}
						{% for size in sizes %}
						<label class="box_label"><input type="checkbox" name="size" value="{{ size }}"
							{% for key, value in query_params.lists %}
								{% if key == 'size' and size in value %}
								checked
								{% endif %}
							{% endfor %}
						> {{ size }}</label>
						{% endfor %}
						<label class="show_more" for="size_toggle">
							<span><span>+</span>{% trans 'Show More' %}</span>
						</label>
						<button class="list_filter_button">{% trans 'filter'|capfirst %}</button>
						<div class="show_less" style="display: none;">
							<span><span>-</span>{% trans 'Show Less' %}</span>
						</div>
					</form>
				</div>

				<!-- Color -->
				<a href="#" class="filter-button">{% trans 'Filter Colors' %}</a>
				<div class="sidebar_section">
					<div class="sidebar_title">
						<h5>{% trans 'colors'|capfirst %}</h5>
					</div>
					<form class="filter_form" id="color_select">
						<input type="checkbox" class="show_toggle" id="color_toggle" style="display: none;">
						{% for key, value in query_params.lists %}
							{% if key != 'color' %}
								{% for element in value %}
								<input type="hidden" name="{{ key }}" value="{{ element }}">
								{% endfor %}
							{% endif %}
						{% endfor %}

						{% for color in colors %}
						<label class="box_label"><input type="checkbox" name="color" value="{{ color.name_en }}"
							{% for key, value in query_params.lists %}
								{% if key == 'color' and color.name_en in value %}
								checked
								{% endif %}
							{% endfor %}
						> {{ color.name }}</label>
						{% endfor %}
						<label class="show_more" for="color_toggle">
							<span><span>+</span>{% trans 'Show More' %}</span>
						</label>
						<button class="list_filter_button">{% trans 'filter'|capfirst %}</button>
						<div class="show_less" style="display: none;">
							<span><span>-</span>{% trans 'Show Less' %}</span>
						</div>
					</form>
				</div>
			</div>

			<!-- Main Content -->

			<div class="main_content">

				<!-- Products -->

				<div class="products_iso">
					<div class="row">
						<div class="col">

							<!-- Product Sorting -->

							<div class="product_sorting_container product_sorting_container_top">
								<ul class="product_sorting">
									{% comment %}
									<li>
										<span class="type_sorting_text">Default Sorting</span>
										<i class="fa fa-angle-down"></i>
										<ul class="sorting_type">
											<li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Default Sorting</span></li>
											<li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Price</span></li>
											<li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Product Name</span></li>
										</ul>
									</li>
									{% endcomment %}
									<li>
										<span>{% trans 'Show' %}</span>
										<span class="num_sorting_text">{{ paginate_by }}</span>
										<i class="fa fa-angle-down"></i>
										<form id="pagination_form">
											{% for key, value in query_params.lists %}
												{% if key != 'show' %}
													{% for element in value %}
													<input type="hidden" name="{{ key }}" value="{{ element }}">
													{% endfor %}
												{% endif %}
											{% endfor %}
											<input name="show" type="hidden" id="paginate_by" value="{{ paginate_by }}">
											<ul class="sorting_num">
												<li class="num_sorting_btn"><span>6</span></li>
												<li class="num_sorting_btn"><span>12</span></li>
												<li class="num_sorting_btn"><span>24</span></li>
											</ul>
										</form>
									</li>
								</ul>

								{% include 'items/pagination.html' %}

							</div>

							<!-- Product Grid -->

							<div class="product-grid">

								{% for item in object_list %}
								<div class="product-item">
									{% if request.user.is_authenticated and request.user.is_staff and item.sales %}
									<p>{{ item.sales }} поръчки</p>
									{% endif %}
									<div
										{% if item.is_discounted %}
											class="product discount product_filter"
										{% else %}
											class="product product_filter"
										{% endif %}
									>
										<a href="{% url 'item-details' item.slug %}" class="product_image">
											{% if item.main_picture_list.0.image_url %}
											<img src="{{ item.main_picture_list.0.image_url }}" alt="продуктово изображение" loading="lazy">
											{% else %}
											<img src="{% static 'images/item.jpg' %}" alt="no image">
											{% endif %}
										</a>
										<div
											{% if item.is_discounted %}
												class="favorite favorite_left"
											{% else %}
												class="favorite"
											{% endif %}
										></div>
										{% if is_black_friday %}
											<div class="product_bubble product_bubble_right product_bubble_black d-flex flex-column align-items-center"><span>-{{ item.discount }}€</span></div>
										{% elif item.is_discounted %}
											<div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-{{ item.discount }}€</span></div>
										{% elif item.is_new %}
											<div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>new</span></div>
										{% endif %}
										<div class="product_info">
											<p class="product_name"><a href="{% url 'item-details' item.slug %}">{{ item.name|truncatewords:4 }}</a></p>
											{% if is_black_friday %}
												<div class="product_price">{{ item.black_price }} €<span class="price_eur">/{{ item.black_price_bgn }} {% trans 'lv' %}</span></div>
											{% elif item.is_discounted %}
												<div class="product_price">{{ item.discount_price }} €<span class="price_eur">/{{ item.discount_price_bgn }} {% trans 'lv' %}</span></div>
											{% else %}
												<div class="product_price">{{ item.price }} €<span class="price_eur">/{{ item.price_bgn }} {% trans 'lv' %}</span></div>
											{% endif %}
										</div>
									</div>
									<div class="red_button add_to_cart_button"><a href="{% url 'item-details' item.slug %}">{% trans 'get' %}</a></div>
								</div>
								{% endfor %}

							</div>

							<!-- Product Sorting -->

							<div class="product_sorting_container product_sorting_container_bottom clearfix">
								{% comment %}
								<ul class="product_sorting">
									<li>
										<span>Show:</span>
										<span class="num_sorting_text">04</span>
										<i class="fa fa-angle-down"></i>
										<ul class="sorting_num">
											<li class="num_sorting_btn"><span>01</span></li>
											<li class="num_sorting_btn"><span>02</span></li>
											<li class="num_sorting_btn"><span>03</span></li>
											<li class="num_sorting_btn"><span>04</span></li>
										</ul>
									</li>
								</ul>
								{% endcomment %}
								<span class="showing_results">{% trans 'Showing' %} {{ page_obj.start_index }}–{{ page_obj.end_index }} {% trans 'of' %} {{ paginator.count }} {% trans 'results' %}</span>

								{% include 'items/pagination.html' %}

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Benefit -->

{% include 'common/benefit.html' %}

{% if not request.GET.page %}
	<div class="container bottom-article">
	{% block seo_text %}
	{% endblock %}
	{% include 'items/pagination.html' %}
	</div>
{% endif %}


{% endblock %}

{% block scripts %}

{{ fetch_params|json_script:'fetch-params' }}

<script src="{% static 'plugins/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
<script src="{% static 'js/categories_custom.js' %}?v=2"></script>
{% endblock %}