{% extends 'items/category.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Спортно елегантни дамски дрехи - Онлайн Цени | Вили Стил
{% endblock %}

{% block meta %}
<meta name="title" content="Спортно елегантни дамски дрехи - Онлайн Цени | Вили Стил">
<meta name="description" content="Разгледайте спортно елегантни дрехи от Вили Стил. Имаме голямо разнообразие от цветове и размери за всякакви поводи. За поръчки - 0886531811">
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{% trans 'home'|capfirst %}</a></li>
<li><a href="{% url 'all-items' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'clothes'|capfirst %}</a></li>
<li class="active"><a href="{% url 'elegant' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans "Elegant clothes" %}</a></li>
{% endblock %}

{% block h1 %}
<h1>{% trans "Sporty elegant women's clothes" %}</h1>
{% endblock %}

{% block categories %}

{% endblock %}
