{% extends 'items/category.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Колекция есен/зима | Вили Стил
{% endblock %}

{% block meta %}
<meta name="title" content="Колекция есен/зима - Онлайн Цени | Вили Стил">
<meta name="description" content="Разгледайте предложенията за сезон есен/зима на българския производител на дамски дрехи Вили Стил. За запитвания и поръчки - 0886531811">
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{% trans 'home'|capfirst %}</a></li>
<li><a href="{% url 'all-items' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'clothes'|capfirst %}</a></li>
<li class="active"><a href="{% url 'fall-winter' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'fall/winter'|capfirst %}</a></li>
{% endblock %}

{% block h1 %}
<h1>{% trans "Fall/Winter collection" %}</h1>
{% endblock %}

{% block categories %}

{% endblock %}
