{% load i18n %}
{% load static %}

<div class="product-item">
    <div
    {% if item.is_discounted %}
    class="product discount product_filter"
    {% else %}
    class="product product_filter"
    {% endif %}
    >
        <a href="{% url 'item-details' item.slug %}" class="product_image">
            {% if item.pictures_list.0.image.url %}
            <img src="{{ item.pictures_list.0.image.url }}" alt="{{ item.name }}" loading="lazy">
            {% else %}
            <img src="{% static 'images/item.jpg' %}" alt="no image">
            {% endif %}
        </a>
        {% if item.is_discounted %}
        <div class="favorite favorite_left"></div>
        {% else %}
        <div class="favorite"></div>
        {% endif %}
        {% if item.is_discounted %}
        <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-{{ item.discount }}{% trans 'lv' %}</span></div>
        {% elif item.is_new %}
        <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>{% trans 'new' %}</span></div>
        {% endif %}
        <div class="product_info">
            <p class="product_name"><a href="{% url 'item-details' item.slug %}">{{ item.name }}</a></p>
            {% if item.is_discounted %}
            <div class="product_price">{{ item.discount_price }}{% trans 'lv' %}<span>{{ item.price }}{% trans 'lv' %}</span></div>
            {% else %}
            <div class="product_price">{{ item.price }}{% trans 'lv' %}</div>
            {% endif %}
        </div>
    </div>
    {% comment %}
    <div class="red_button add_to_cart_button"><a href="{% url 'item-details' item.slug %}">{% trans 'see more' %}</a></div>
    {% endcomment %}
</div>