{% load static %}

<div class="owl-item product_slider_item">
    <div class="product-item">
        <div
            {% if item.is_discounted %}
            class="product discount"
            {% else %}
            class="product"
            {% endif %}
        >
            <a href="{% url 'item-details' item.slug %}" class="product_image">
                {% if item.pictures.all.first.image_url %}
                <img src="{{ item.pictures.all.first.image_url }}" alt="продуктово изображение" title="{{ item.name }} | Вили Стил" loading="lazy">
                {% else %}
                <img src="{% static 'images/item.jpg' %}" alt="no image">
                {% endif %}
            </a>
            <div
                {% if item.is_discounted %}
                class="favorite favorite_left"
                {% else %}
                class="favorite"
                {% endif %}
            ></div>
            {% if item.is_discounted %}
            <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>-{{ item.discount }} лв</span></div>
            {% elif item.is_new %}
            <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>new</span></div>
            {% endif %}
            <div class="product_info">
                <p class="product_name"><a href="{% url 'item-details' item.slug %}">{{ item.name }}</a></p>
                <div class="product_price">
                    {% if item.is_discounted %}
                    {{ item.discount_price }} лв<span>{{ item.price }} лв</span>
                    {% else %}
                    {{ item.price }} лв
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>