{% extends 'items/category.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Стилни дамски якета - Онлайн Цени | Вили Стил
{# {% trans "Women's jackets Vili Style" %} #}
{% endblock %}

{% block meta_tags %}
<meta name="title" content="Стилни дамски якета - Онлайн Цени | Вили Стил">
<meta name="description" content="Разгледайте дамски якета от българския производител Вили Стил. Имаме голямо разнообразие от цветове и размери. За запитвания и поръчки - 0886531811">
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{% trans 'home'|capfirst %}</a></li>
<li><a href="{% url 'all-items' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'clothes'|capfirst %}</a></li>
<li class="active"><a href="{% url 'jackets' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'jackets'|capfirst %}</a></li>
{% endblock %}

{% block h1 %}
<h1>{% trans "Women's jackets" %}</h1>
{% endblock %}

{% block categories %}

{% endblock %}
