<div class="pages d-flex flex-row align-items-center pagination">
    {% if page_obj.has_previous %}
        <div class="page_previous"><a href="?{{ query_params.urlencode }}&page={{ page_obj.previous_page_number }}"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a></div>
    {% endif %}
    <div class="page_current current">
        <span>{{ page_obj.number }}</span>
        <ul class="page_selection">
            {% for page_number in page_obj.paginator.page_range %}
            <li><a href="?{{ query_params.urlencode }}&page={{ page_number }}">{{ page_number }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="page_total"><span>of</span> {{ page_obj.paginator.num_pages }}</div>
    {% if page_obj.has_next %}
        <div class="page_next"><a href="?{{ query_params.urlencode }}&page={{ page_obj.next_page_number }}"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
    {% endif %}
</div>