{% extends 'items/category.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans "Women's pants Vili Style" %}
{% endblock %}

{% block meta %}
<meta name="title" content="Дамски панталони спортно елегантни - Онлайн Цени | Вили Стил">
<meta name="description" content="Вземете си панталон от Вили Стил, за да се чувствате комфортно навсякъде. Голямо разнообразие от цветове и размери. За запитвания и поръчки - 0886531811">
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{% trans 'home'|capfirst %}</a></li>
<li><a href="{% url 'all-items' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'clothes'|capfirst %}</a></li>
<li class="active"><a href="{% url 'pants' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'pants'|capfirst %}</a></li>
{% endblock %}

{% block h1 %}
<h1>{% trans "Women's pants" %}</h1>
{% endblock %}

{% block categories %}

{% endblock %}
