{% extends 'items/category.html' %}
{% load static %}
{% load i18n %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{% trans 'home'|capfirst %}</a></li>
<li><a href="{% url 'all-items' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'clothes'|capfirst %}</a></li>
<li class="active"><a href="{% url 'pants' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'pants'|capfirst %}</a></li>
{% endblock %}

{% block categories %}
<div class="sidebar_section">
	<div class="sidebar_title">
		<h5>{% trans 'styles'|capfirst %}</h5>
	</div>
	<ul class="sidebar_categories">
		<li><a href="#">{% trans 'elegant pants'|capfirst %}</a></li>
		<li><a href="#">{% trans 'office pants'|capfirst %}</a></li>
	</ul>
</div>
<div class="sidebar_section">
	<div class="sidebar_title">
		<h5>{% trans 'sub categories'|capfirst %}</h5>
	</div>
	<ul class="sidebar_categories">
		<li><a href="#">{% trans 'cigarette pants'|capfirst %}</a></li>
	</ul>
</div>
{% endblock %}
