{% extends 'items/category.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Дамски комплекти спортно елегантни - Онлайн Цени | Вили Стил
{# {% trans "Women's sets Vili Style" %} #}
{% endblock %}

{% block meta %}
<meta name="title" content="Дамски комплекти спортно елегантни - Онлайн Цени | Вили Стил">
<meta name="description" content="Вземете си комплект от Вили Стил, за да се чувствате комфортно навсякъде. Голямо разнообразие от цветове и размери. За запитвания и поръчки - 0886531811">
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{% trans 'home'|capfirst %}</a></li>
<li><a href="{% url 'all-items' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'clothes'|capfirst %}</a></li>
<li class="active"><a href="{% url 'classic' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'sets'|capfirst %}</a></li>
{% endblock %}

{% block h1 %}
<h1>{% trans "Women's sets" %}</h1>
{% endblock %}

{% block categories %}

{% endblock %}
