{% extends 'common/base.html' %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load crispy_forms_tags %}

{% block title %}
{{ object.name }} | Вили Стил
{% endblock %}

{% block meta %}
<meta name="title" content="{{ object.name }} | Вили Стил">
<meta name="description" content="{{ object.description.0 }}">
<link rel="canonical" href="{{ canonical_url }}">
<meta name="robots" content="index, follow">
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}"> <!-- Added for carousel-->
<link rel="stylesheet" href="{% static 'plugins/themify-icons/themify-icons.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/single_styles.css' %}?v=4">
<link rel="stylesheet" type="text/css" href="{% static 'styles/single_responsive.css' %}?v=2">
{% endblock %}

{% block content %}
<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                    <li><a href="{% url 'all-items' %}">{% trans 'clothes'|capfirst %}</a></li>
                    <li><a href="{% url object.category.name_en %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{{ object.category.name|capfirst }}</a></li>
                    {% comment %}
                    {% if object.sub_category %}
                    <li><a href="{% url object.sub_category.name_en %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{{ object.sub_category.name|capfirst }}</a></li>
                    {% endif %}
                    {% endcomment %}
                    <li class="active"><a href="{% url 'item-details' object.slug %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{{ object.name|lower|capfirst }}</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-7">
            <div class="single_product_pics">
                <div class="row">
                    <div class="col-lg-3 thumbnails_col order-lg-1 order-2">
                        <div class="single_product_thumbnails">
                            <ul>
                                {% for picture in object.pictures.all %}
                                    <li
                                        {% if picture.is_main %}
                                        class="active"
                                        {% endif %}
                                    ><img src="{{ picture.image_url }}" alt="{{ object.name }}" data-image="{{ picture.image_url }}" title="{{ object.name }} | Вили Стил"></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 image_col order-lg-2 order-1">
                        <div class="single_product_image">
                            <a href="{{ object.pictures.all.first.image_url }}">
                                <img src="{{ object.pictures.all.first.image_url }}" alt="{{ object.name }}" title="{{ object.name }} | Вили Стил">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="product_details">
                <div class="product_details_title">
                    <h1>{{ object.name }}</h1>
                    <p># {{ object.item_number }}</p>

                    {% if object.description and object.description|length > 1 %}
                        <ul class="item_description">
                            {% for line in object.description %}
                            <li>{{ line }}</li>
                            {% endfor %}
                        </ul>
                    {% elif object.description %}
                        <p>{{ object.description|first }}</p>
                    {% endif %}

                </div>
                <p>Състав: {{ object.content }}</p>
                {% comment %}
                <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
                    <span class="ti-truck"></span><span>free delivery</span>
                </div>
                {% endcomment %}
                <div class="product-info">
                    <div class="price">
                        {% if is_black_friday %}
                            <div class="original_price">{{ object.price }} €</div>
                            <div class="original_price">{{ object.price_bgn }} {% trans 'lv' %}</div>
                            <div class="product_price">{{ object.black_price }} €</div>
                            <div class="secondary_price">{{ object.black_price_bgn }} {% trans 'lv' %}</div>
                        {% elif object.is_discounted %}
                            <div class="original_price">{{ object.price }} €</div>
                            <div class="original_price">{{ object.price_bgn }} {% trans 'lv' %}</div>
                            <div class="product_price">{{ object.discount_price }} €</div>
                            <div class="secondary_price">{{ object.discount_price_bgn }} {% trans 'lv' %}</div>
                        {% else %}
                            <div class="product_price">{{ object.price }} €</div>
                            <div class="secondary_price">{{ object.price_bgn }} {% trans 'lv' %}</div>
                        {% endif %}
                    </div>
                    <div class="review-data">
                        <p>{% trans 'Reviews' %} ({{ object.reviews.count }})</p>
                        <ul class="star_rating">
                            {% for i in '12345' %}
                                {% if forloop.counter <= review_avg %}
                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                {% else %}
                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% comment %}
                <div class="product_color">
                    <span>Select Color:</span>
                    <ul>
                        <li style="background: #e54e5d"></li>
                        <li style="background: #252525"></li>
                        <li style="background: #60b3f3"></li>
                    </ul>
                </div>
                {% endcomment %}
                <input type="checkbox" id="size-guide-toggle" style="display: none;">
                <label class="show-sizes" for="size-guide-toggle">
                    <img src="{% static 'images/ruler.png' %}" alt="ruler">
                    <span>{% trans 'Size Guide' %}</span>
                </label>
                <div class="size-guide-overlay">
                    <div class="size-guide">
                        <label class="hide-sizes" for="size-guide-toggle"><i class="fa fa-times"></i></label>
                        <h3>{% trans 'Sizes' %}</h3>
                        <div class="tables">
                            <table border="1">
                                <thead>
                                    <tr>
                                        <th colspan="2">40</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{% trans 'Chest' %}</td>
                                        <td>80cm</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Waist' %}</td>
                                        <td>62cm</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Hips' %}</td>
                                        <td>86cm</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="1">
                                <thead>
                                    <tr>
                                        <th colspan="2">42</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{% trans 'Chest' %}</td>
                                        <td>84cm</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Waist' %}</td>
                                        <td>66cm</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Hips' %}</td>
                                        <td>90cm</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="1">
                                <thead>
                                    <tr>
                                        <th colspan="2">44</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{% trans 'Chest' %}</td>
                                        <td>88cm</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Waist' %}</td>
                                        <td>70cm</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Hips' %}</td>
                                        <td>94cm</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="1">
                                <thead>
                                    <tr>
                                        <th colspan="2">46</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{% trans 'Chest' %}</td>
                                        <td>92cm</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Waist' %}</td>
                                        <td>74cm</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Hips' %}</td>
                                        <td>98cm</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="1">
                                <thead>
                                    <tr>
                                        <th colspan="2">48</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{% trans 'Chest' %}</td>
                                        <td>96cm</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Waist' %}</td>
                                        <td>78cm</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Hips' %}</td>
                                        <td>102cm</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="1">
                                <thead>
                                    <tr>
                                        <th colspan="2">50</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{% trans 'Chest' %}</td>
                                        <td>100cm</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Waist' %}</td>
                                        <td>82cm</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Hips' %}</td>
                                        <td>106cm</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="1">
                                <thead>
                                    <tr>
                                        <th colspan="2">52</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{% trans 'Chest' %}</td>
                                        <td>104cm</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Waist' %}</td>
                                        <td>86cm</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Hips' %}</td>
                                        <td>110cm</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="1">
                                <thead>
                                    <tr>
                                        <th colspan="2">54</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{% trans 'Chest' %}</td>
                                        <td>108cm</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Waist' %}</td>
                                        <td>90cm</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Hips' %}</td>
                                        <td>114cm</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="1">
                                <thead>
                                    <tr>
                                        <th colspan="2">56</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{% trans 'Chest' %}</td>
                                        <td>112cm</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Waist' %}</td>
                                        <td>94cm</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Hips' %}</td>
                                        <td>118cm</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="1">
                                <thead>
                                    <tr>
                                        <th colspan="2">58</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{% trans 'Chest' %}</td>
                                        <td>116cm</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Waist' %}</td>
                                        <td>98cm</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Hips' %}</td>
                                        <td>122cm</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table border="1">
                                <thead>
                                    <tr>
                                        <th colspan="2">60</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{% trans 'Chest' %}</td>
                                        <td>120cm</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Waist' %}</td>
                                        <td>102cm</td>
                                    </tr>
                                    <tr>
                                        <td>{% trans 'Hips' %}</td>
                                        <td>126cm</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="sizes d-flex flex-wrap">
                    {% for size in available_sizes %}
                    <div class="size">{{ size }}</div>
                    {% endfor %}
                </div>
                <form id="add-form" method="post" action="{% url 'add-to-cart' object.pk %}">
                    {% csrf_token %}
                    <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
                        <input id="size" type="hidden" name="size" value="">
                        <input id="quantity" type="hidden" name="quantity">

                        <span>Quantity:</span>
                        <div class="quantity_selector">
                            <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <span id="quantity_value">1</span>
                            <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">{% trans 'add to cart' %}</a></div>
                        <div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Benefit -->

{% include 'common/benefit.html' %}

<!-- Other Colors -->
{% if other_colors.count %}
<div class="other_colors">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>{% trans 'This model in other colors:' %}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="product_slider_container">
                    <div class="owl-carousel owl-theme product_slider">
                        {% for item in other_colors %}
                            {% include 'items/item-card.html' with item=item %}
                        {% endfor %}
                    </div>
                    <!-- Slider Navigation -->

                    <div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% comment %}
<div class="container">
    <div class="size-guide">
        <img
        {% if request.LANGUAGE_CODE == 'bg' %}
        src="{% static 'images/size_guide_bg.jpg' %}"
        {% elif request.LANGUAGE_CODE == 'en' %}
        src="{% static 'images/size_guide_en.jpg' %}"
        {% else %}
        src="{% static 'images/size_guide_bg.jpg' %}"
        {% endif %}
        >
    </div>
</div>
{% endcomment %}
<!-- Tabs -->

<div class="tabs_section_container">

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="tabs_container">
                    <ul class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
                        <li class="tab active" data-active-tab="tab_1"><span>{% trans 'Details' %}</span></li>
                        <li class="tab" data-active-tab="tab_2"><span>{% trans 'Additional Information' %}</span></li>
                        <li class="tab" data-active-tab="tab_3"><span>{% trans 'Reviews' %} ({{ object.reviews.count }})</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <!-- Tab Description -->

                <div id="tab_1" class="tab_container active">
                    <div >
                        {% if object.detail_pictures.count %}
                        <div class="tab_title">
                            <h4>{% trans 'Details' %}</h4>
                        </div>
                        {% endif %}
                    {% for detail_picture in object.detail_pictures.all %}
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="desc_col desc-reversed">
                            <div class="tab_text_block">
                                <p>{% if detail_picture.description %}{{ detail_picture.description }}{% endif %}</p>
                            </div>
                            <div class="tab_image">
                                <img src="{{ detail_picture.image_url }}" alt="{{ object.name }}" title="{{ object.name }} | Вили Стил" loading="lazy">
                            </div>
                        </div>
                    {% else %}
                        <div class="desc_col">
                            <div class="tab_text_block">
                                <p>{{ detail_picture.description }}</p>
                            </div>
                            <div class="tab_image">
                                <img src="{{ detail_picture.image_url }}" alt="{{ object.name }}" title="{{ object.name }} | Вили Стил" loading="lazy">
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>

                <!-- Tab Additional Info -->

                <div id="tab_2" class="tab_container">
                    <div class="row">
                        <div class="col additional_info_col">
                            <div class="tab_title additional_info_title">
                                <h4>{% trans 'Additional Information' %}</h4>
                            </div>
                            {% if object.additional_info %}
                            <ul>
                                {% for element in object.additional_info %}
                                <li>{{ element }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Tab Reviews -->

                <div id="tab_3" class="tab_container">
                    <div class="row">

                        <!-- User Reviews -->

                        <div class="col-lg-6 reviews_col">
                            <div class="tab_title reviews_title">
                                <h4>{% trans 'Reviews' %} ({{ object.reviews.count }})</h4>
                            </div>

                            <!-- User Review -->
                            {% for review in object.reviews.all %}
                            <div class="user_review_container d-flex flex-column flex-sm-row">
                                {% comment %}
                                <div class="user">
                                    <div class="user_pic"></div>
                                    <div class="user_rating">
                                        <ul class="star_rating">
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                        </ul>
                                    </div>
                                </div>
                                {% endcomment %}
                                <div class="review">
                                    <div class="user_rating">
                                        <ul class="star_rating">
                                            {% for i in '12345' %}
                                                {% if forloop.counter <= review.rating %}
                                                <li><i class="fa fa-star" aria-hidden="true"></i></li>
                                                {% else %}
                                                <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="user_name">{{ review.author }}</div>
                                    {% if review.title %}<h5>{{ review.title }}</h5>{% endif %}
                                    <p>{{ review.content|linebreaks }}</p>
                                    {% if review.pictures.all.exists %}
                                    <div class="review-gallery">
                                        <ul>
                                            {% for picture in review.pictures.all %}
                                            <li onclick="initImageViewer('{{ forloop.counter0 }}', '{% for picture in review.pictures.all %}{{ picture.image.url }} {% endfor %}');"><img src="{{ picture.image.url }}" alt="потребителско изображение"></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                            {% empty %}
                            <p>{% trans 'There are no reviews for this product yet, but you can write the first one.' %}</p>
                            {% endfor %}
                            <div class="review-picture-overlay">
                                <i class="review-pic-left fa fa-chevron-left" aria-hidden="true"></i>
                                <div class="review-picture-viewer">
                                    <img src="" alt="">
                                    <i class="close-review-pics fa fa-times"></i>
                                </div>
                                <i class="review-pic-right fa fa-chevron-right" aria-hidden="true"></i>
                            </div>
                        </div>

                        <!-- Add Review -->

                        <div class="col-lg-6 add_review_col">

                            <div class="add_review">
                                <form id="review_form" method="post" action="{% url 'submit-review' object.pk %}" enctype="multipart/form-data" novalidate>
                                    {% csrf_token %}
                                    
                                    {{ review_form.rating }}

                                    <div>
                                        <h3>{% trans 'Your Rating:' %}</h3>
                                        <ul class="user_star_rating">
                                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                            <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                                        </ul>
                                        <!-- <textarea id="review_message" class="input_review" name="message"  placeholder="Your Review" rows="4" required data-error="Please, leave us a review."></textarea> -->
                                        <div>
                                            <h3>{% trans 'Add Review' %}</h3>
                                            <!-- <input id="review_name" class="form_input input_name" type="text" name="name" placeholder="Name*" required="required" data-error="Name is required.">
                                            <input id="review_email" class="form_input input_email" type="email" name="email" placeholder="Email*" required="required" data-error="Valid email is required."> -->
                                            {{ review_form.author|as_crispy_field }}
                                        </div>
                                        {{ review_form.title|as_crispy_field }}
                                        {{ review_form.content|as_crispy_field }}
                                        
                                        <h3>{% trans 'Upload photos' %}</h3>
                                        
                                        {{ formset.management_form|crispy }}
                                        {% for form in formset %}
                                        {{ form.image }}
                                        {% endfor %}

                                    </div>

                                    <div class="text-left text-sm-right">
                                        <button id="review_submit" type="submit" class="red_button review_submit_btn trans_300" value="Submit">{% trans 'submit' %}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<!-- Linked Items -->
{% if object.linked_items.count %}
<div class="linked_items">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>{% trans 'Complete your vision:' %}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="product_slider_container">
                    <div class="owl-carousel owl-theme product_slider">
                        {% for item in object.linked_items.all %}
                            {% include 'items/item-card.html' with item=item %}
                        {% endfor %}
                    </div>
                    <!-- Slider Navigation -->

                    <div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}

{% block scripts %}
<script>
    // Meta Pixel tracking
    fbq('track', 'ViewContent', {
        content_ids: [{{ object.pk }}],
        content_type: "{{ object.category }}",
        currency: "EUR", 
        value: {{ object.final_price|unlocalize }}
        });
    
    const addtoCartButton = document.querySelector('.add_to_cart_button a');
    addtoCartButton.addEventListener('click', fbAddToCart);
    

    function fbAddToCart() {
        const sizesDivElement = document.querySelector('.sizes');
        const quantitySpanElement = document.getElementById('quantity_value');
        const quantity = Number(quantitySpanElement.textContent);
        const value = quantity * {{ object.final_price|unlocalize }};

        if (sizesDivElement.querySelector('.selected')) {
            
            fbq('track', 'AddToCart', {
                content_ids: [{{ object.pk }}],
                content_type: "{{ object.category }}",
                currency: "EUR", 
                value: value
                });
        }
    }

    // GA4 tracking
    window.dataLayer.push({
        event: 'view_item',
        currency: 'EUR',
        value: {{ object.final_price|unlocalize }},
        items: [{
            item_id: '{{ object.pk }}',
            item_name: '{{ object.name }}',
            item_category: '{{ object.category }}',
            price: {{ object.final_price|unlocalize }},
            quantity: 1
        }]
    });

    addtoCartButton.addEventListener('click', googleAddToCart);

    function googleAddToCart() {
        const quantitySpanElement = document.getElementById('quantity_value');
        const quantity = Number(quantitySpanElement.textContent);
        const value = quantity * {{ object.final_price|unlocalize }};

        window.dataLayer.push({
            event: 'add_to_cart',
            currency: 'EUR',
            value: value,
            items: [{
                item_id: '{{ object.pk }}',
                item_name: '{{ object.name }}',
                item_category: '{{ object.category }}',
                price: {{ object.final_price|unlocalize }},
                quantity: quantity
            }]
        });
    }
</script>

<script>
    const pictureOverlayElement = document.querySelector('.review-picture-overlay');
    const pictureViewerElement = document.querySelector('.review-picture-viewer');
    const imgElement = pictureViewerElement.querySelector('img');
    const leftArrowIElement = document.querySelector('.review-pic-left');
    const rightArrowIElement = document.querySelector('.review-pic-right');
    const xmarkIElement = document.querySelector('.close-review-pics');
    let currentIndex = 0;
    let listenersBound = false;
    let allImagesArray = [];

    function initImageViewer(index, allImagesSrc) {
        index = Number(index);
        currentIndex = index;
        allImagesArray = allImagesSrc.trim().split(' ');

        changePicture(currentIndex, allImagesArray);

        pictureOverlayElement.classList.add('active');

        if (listenersBound) {
            return;
        }

        xmarkIElement.addEventListener('click', () => {
            pictureOverlayElement.classList.remove('active');
        });

        leftArrowIElement.addEventListener('click', () => changePicture(currentIndex - 1, allImagesArray));
        rightArrowIElement.addEventListener('click', () => changePicture(currentIndex + 1, allImagesArray));

        document.addEventListener('keydown', (e) => {
            if (!pictureOverlayElement.classList.contains('active')) return;
            
            if (e.key == 'ArrowLeft') {
                changePicture(currentIndex - 1, allImagesArray);
            } else if (e.key == 'ArrowRight') {
                changePicture(currentIndex + 1, allImagesArray);
            } else if (e.key == 'Escape') {
                pictureOverlayElement.classList.remove('active');
            }
        });

        listenersBound = true;
    }

    function changePicture(index, allImagesArr) {
        if (index >= 0 && index < allImagesArr.length) {
            currentIndex = index;

            // Start fade out
            imgElement.style.transition = 'opacity 0.2s ease';
            imgElement.style.opacity = 0;

            // Wait for the fade-out to finish before changing the image
            setTimeout(() => {
                imgElement.src = allImagesArr[currentIndex];

                // Wait for image to load before fading in
                imgElement.onload = () => {
                    imgElement.style.opacity = 1;
                };
        }, 200); // Should match the fade-out duration
        }
    }
</script>

<script src="{% static 'plugins/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
<script src="{% static 'js/single_custom.js' %}?v=5"></script>
{% endblock %}