{% extends 'common/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{{ object.name }} | Вили Стил
{% endblock %}

{% block meta %}
<meta name="title" content="{{ object.name }} | Вили Стил">
<meta name="description" content="{{ object.description.0 }}">
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}"> <!-- Added for carousel-->
<link rel="stylesheet" href="{% static 'plugins/themify-icons/themify-icons.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/single_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/single_responsive.css' %}">
{% endblock %}

{% block content %}
<div class="container single_product_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                    <li><a href="{% url 'all-items' %}">{% trans 'clothes'|capfirst %}</a></li>
                    <li><a href="{% url object.category.name_en %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{{ object.category.name|capfirst }}</a></li>
                    {% comment %}
                    {% if object.sub_category %}
                    <li><a href="{% url object.sub_category.name_en %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{{ object.sub_category.name|capfirst }}</a></li>
                    {% endif %}
                    {% endcomment %}
                    <li class="active"><a href="{% url 'item-details' object.slug %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{{ object.name|lower|capfirst }}</a></li>
                </ul>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-lg-7">
            <div class="single_product_pics">
                <div class="row">
                    <div class="col-lg-3 thumbnails_col order-lg-1 order-2">
                        <div class="single_product_thumbnails">
                            <ul>
                                {% for picture in object.pictures.all %}
                                    <li
                                        {% if picture.is_main %}
                                        class="active"
                                        {% endif %}
                                    ><img src="{{ picture.image.url }}" alt="{{ object.name }}" data-image="{{ picture.image.url }}" title="{{ object.name }} | Вили Стил"></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-9 image_col order-lg-2 order-1">
                        <div class="single_product_image">
                            <img src="{{ object.pictures.all.first.image.url }}" alt="{{ object.name }}" title="{{ object.name }} | Вили Стил">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="product_details">
                <div class="product_details_title">
                    <h1>{{ object.name }}</h1>
                    <p># {{ object.item_number }}</p>

                    {% if object.description and object.description|length > 1 %}
                        <ul class="item_description">
                            {% for line in object.description %}
                            <li>{{ line }}</li>
                            {% endfor %}
                        </ul>
                    {% elif object.description %}
                        <p>{{ object.description|first }}</p>
                    {% endif %}

                </div>
                <p>Състав: {{ object.content }}</p>
                {% comment %}
                <div class="free_delivery d-flex flex-row align-items-center justify-content-center">
                    <span class="ti-truck"></span><span>free delivery</span>
                </div>
                {% endcomment %}
                {% if object.is_discounted %}
                    <div class="original_price">{{ object.price }} лв.</div>
                    <div class="product_price">{{ object.discount_price }} лв</div>
                {% else %}
                    <div class="product_price">{{ object.price }} лв</div>
                {% endif %}
                {% comment %}
                <ul class="star_rating">
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>
                <div class="product_color">
                    <span>Select Color:</span>
                    <ul>
                        <li style="background: #e54e5d"></li>
                        <li style="background: #252525"></li>
                        <li style="background: #60b3f3"></li>
                    </ul>
                </div>
                {% endcomment %}
                <div class="sizes d-flex flex-wrap">
                    {% for size in available_sizes %}
                    <div class="size">{{ size }}</div>
                    {% endfor %}
                </div>
                <form id="add-form" method="post" action="{% url 'add-to-cart' object.pk %}">
                    {% csrf_token %}
                    <div class="quantity d-flex flex-column flex-sm-row align-items-sm-center">
                        <input id="size" type="hidden" name="size" value="">
                        <input id="quantity" type="hidden" name="quantity">

                        <span>Quantity:</span>
                        <div class="quantity_selector">
                            <span class="minus"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <span id="quantity_value">1</span>
                            <span class="plus"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">add to cart</a></div>
                        <div class="product_favorite d-flex flex-column align-items-center justify-content-center"></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Other Colors -->

<div class="other_colors">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>{% trans 'This model in other colors:' %}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="product_slider_container">
                    <div class="owl-carousel owl-theme product_slider">
                        {% for item in other_colors %}
                            {% include 'items/item-card.html' with item=item %}
                        {% endfor %}
                    </div>
                    <!-- Slider Navigation -->

                    <div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="size-guide">
        <img
        {% if request.LANGUAGE_CODE == 'bg' %}
        src="{% static 'images/size_guide_bg.jpg' %}"
        {% elif request.LANGUAGE_CODE == 'en' %}
        src="{% static 'images/size_guide_en.jpg' %}"
        {% else %}
        src="{% static 'images/size_guide_bg.jpg' %}"
        {% endif %}
        >
    </div>
</div>

<!-- Tabs -->

<div class="tabs_section_container">

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="tabs_container">
                    <ul class="tabs d-flex flex-sm-row flex-column align-items-left align-items-md-center justify-content-center">
                        <li class="tab active" data-active-tab="tab_1"><span>{% trans 'Details' %}</span></li>
                        <li class="tab" data-active-tab="tab_2"><span>{% trans 'Additional Information' %}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">

                <!-- Tab Description -->

                <div id="tab_1" class="tab_container active">
                    <div >
                        <div class="tab_title">
                            <h4>{% trans 'Details' %}</h4>
                        </div>
                    {% for detail_picture in object.detail_pictures.all %}
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="desc_col desc-reversed">
                            <div class="tab_text_block">
                                <p>{{ detail_picture.description }}</p>
                            </div>
                            <div class="tab_image">
                                <img src="{{ detail_picture.image.url }}" alt="{{ object.name }}" title="{{ object.name }} | Вили Стил">
                            </div>
                        </div>
                    {% else %}
                        <div class="desc_col">
                            <div class="tab_text_block">
                                <p>{{ detail_picture.description }}</p>
                            </div>
                            <div class="tab_image">
                                <img src="{{ detail_picture.image.url }}" alt="{{ object.name }}" title="{{ object.name }} | Вили Стил">
                            </div>
                        </div>
                    {% endif %}
                    {% endfor %}
                    </div>
                </div>

                <!-- Tab Additional Info -->

                <div id="tab_2" class="tab_container">
                    <div class="row">
                        <div class="col additional_info_col">
                            <div class="tab_title additional_info_title">
                                <h4>{% trans 'Additional Information' %}</h4>
                            </div>
                            <p>COLOR:<span>Gold, Red</span></p>
                            <p>SIZE:<span>L,M,XL</span></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<!-- Linked Items -->

<div class="linked_items">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>{% trans 'Complete your vision:' %}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="product_slider_container">
                    <div class="owl-carousel owl-theme product_slider">
                        {% for item in object.linked_items.all %}
                            {% include 'items/item-card.html' with item=item %}
                        {% endfor %}
                    </div>
                    <!-- Slider Navigation -->

                    <div class="product_slider_nav_left product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-left" aria-hidden="true"></i>
                    </div>
                    <div class="product_slider_nav_right product_slider_nav d-flex align-items-center justify-content-center flex-column">
                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Benefit -->

{% include 'common/benefit.html' %}

{% endblock %}

{% block scripts %}
<script>
    fbq('track', 'ViewContent', {
        content_ids: [{{ object.pk }}],
        content_type: "{{ object.category }}",
        currency: "BGN", 
        value: {{ object.final_price }}
        });
    
    const addtoCartButton = document.querySelector('.add_to_cart_button a');
    addtoCartButton.addEventListener('click', fbAddToCart);

    function fbAddToCart() {
        const sizesDivElement = document.querySelector('.sizes');

        if (sizesDivElement.querySelector('.selected')) {
            
            fbq('track', 'AddToCart', {
                content_ids: [{{ object.pk }}],
                content_type: "{{ object.category }}",
                currency: "BGN", 
                value: {{ object.final_price }}
                });
        }
    }
</script>

<script src="{% static 'plugins/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
<script src="{% static 'js/single_custom.js' %}"></script>
{% endblock %}