{% extends 'items/category.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Дамски поли - Онлайн Цени | Вили Стил
{# {% trans "Women's skirts Vili Style" %} #}
{% endblock %}

{% comment %}
<meta name="title" content="Дамски поли - Онлайн Цени | Вили Стил">
<meta name="description" content="Разгледайте дамски поли от българския производител Вили Стил. За запитвания и поръчки - 0886531811">
{% endcomment %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{% trans 'home'|capfirst %}</a></li>
<li><a href="{% url 'all-items' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'clothes'|capfirst %}</a></li>
<li class="active"><a href="{% url 'skirts' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'skirts'|capfirst %}</a></li>
{% endblock %}

{% block h1 %}
<h1>{% trans "Women's skirts" %}</h1>
{% endblock %}

{% block categories %}

{% endblock %}
