{% extends 'items/category.html' %}
{% load static %}
{% load i18n %}

{% block title %}
Дамски костюми - Онлайн Цени | Вили Стил
{# {% trans "Women's suits Vili Style" %} #}
{% endblock %}

{% block meta %}
<meta name="title" content="Дамски костюми - Онлайн Цени | Вили Стил">
<meta name="description" content="Разгледайте дамски костюми от българския производител Вили Стил. За запитвания и поръчки - 0886531811">
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{% trans 'home'|capfirst %}</a></li>
<li><a href="{% url 'all-items' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'clothes'|capfirst %}</a></li>
<li class="active"><a href="{% url 'suits' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'suits'|capfirst %}</a></li>
{% endblock %}

{% block h1 %}
<h1>{% trans "Women's suits" %}</h1>
{% endblock %}

{% block categories %}

{% endblock %}
