{% extends 'items/category.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans "Women's tank tops Vili Style" %}
{% endblock %}

{% comment %}
<meta name="title" content="Дамски потници - Онлайн Цени | Вили Стил">
<meta name="description" content="Разгледайте дамски потници от българския производител Вили Стил. За запитвания и поръчки - 0886531811">
{% endcomment %}

{% block h1 %}
<h1>{% trans "Women's tank tops" %}</h1>
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{% trans 'home'|capfirst %}</a></li>
<li><a href="{% url 'all-items' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'clothes'|capfirst %}</a></li>
<li class="active"><a href="{% url 'underwear' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'tank tops'|capfirst %}</a></li>
{% endblock %}

{% block categories %}

{% endblock %}
