{% extends 'items/category.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans "Women's tunics Vili Style" %}
{% endblock %}

{% block meta %}
<meta name="title" content="Дамски туники спортно елегантни - Онлайн Цени | Вили Стил">
<meta name="description" content="Разгледайте дамски туники от българския производител Вили Стил. За запитвания и поръчки - 0886531811">
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{% trans 'home'|capfirst %}</a></li>
<li><a href="{% url 'all-items' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'clothes'|capfirst %}</a></li>
<li class="active"><a href="{% url 'tunics' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'tunics'|capfirst %}</a></li>
{% endblock %}

{% block h1 %}
<h1>{% trans "Women's tunics" %}</h1>
{% endblock %}

{% block categories %}
<div class="sidebar_section">
	<div class="sidebar_title">
		<h5>{% trans 'styles'|capfirst %}</h5>
	</div>
	<ul class="sidebar_categories">
		<li><a href="#">{% trans 'elegant tunics'|capfirst %}</a></li>
	</ul>
</div>
<div class="sidebar_section">
	<div class="sidebar_title">
		<h5>{% trans 'sub categories'|capfirst %}</h5>
	</div>
	<ul class="sidebar_categories">

	</ul>
</div>
{% endblock %}
