{% extends 'items/category.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{% trans "Women's vests Vili Style" %}
{% endblock %}

{% block meta %}
<meta name="title" content="Стилни дамски елеци - Онлайн Цени | Вили Стил">
<meta name="description" content="Разгледайте дамски елеци от българския производител Вили Стил. За запитвания и поръчки - 0886531811">
{% endblock %}

{% block breadcrumbs %}
<li><a href="{% url 'home' %}">{% trans 'home'|capfirst %}</a></li>
<li><a href="{% url 'all-items' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'clothes'|capfirst %}</a></li>
<li class="active"><a href="{% url 'vests' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'vests'|capfirst %}</a></li>
{% endblock %}

{% block h1 %}
<h1>{% trans "Women's vests" %}</h1>
{% endblock %}

{% block categories %}

{% endblock %}
