{% extends 'common/base.html' %}
{% load static %}
{% load i18n %}
{% load shipping %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/info_styles.css' %}">
{% endblock %}

{% block content %}

<div class="container first-container">
    <h1>За нас</h1>
    <p>Вили Стил ООД с търговската марка ВИЛИ СТИЛ – български моден бранд за <strong>дамска мода</strong> стартира през далечната 1991 година като малка семейна фирма. Днес марката предлага пълна гама висококачествени облекла и е символ на качество, стил и разнообразие.</p>
    <p>Екипът ни е съставен от млади и амбициозни специалисти, с креативен подход и съвременни иновативни идеи. Вдъхновени от изискванията на нашите клиенти за разнообразие и автентичност, ние следим световните модни тенденции и технологии, които внедряваме в производството на продуктите ни като гаранция за качество и стил.</p>
    <p>Ключът към нашия успех се крие в доказалата се ефективност на нашето управление, наблягащо върху най-малките детайли в процеса, през който нашият продукт минава: от дизайна, през производството до самата продажба.</p>
    <p>Винаги разполагаме с точния продукт, в точното време, на точното място. Ние се опитваме да предадем на нашите клиенти усещане за стил, усет към цветовете и десените и това наистина допринася за изграждането на стабилни и трайни отношения, с непрекъснат резултат във времето.</p>
    <p>С грижа за перфектен външен вид и удобство онлайн магазинът ни предлага многообразие от категории продукти, които задоволяват вкуса и на най-претенциозните клиенти. Богатият ни асортимент включва всичко необходимо за постигането на една модерна и отличаваща се визия. Дългогодишният ни опит и иновативният ни подход са гаранция за уникалността и качеството на предлаганите продукти с марката на ВИЛИ СТИЛ.</p>
</div>
<div class="container">
    <h2>Ценни качества на Вили Стил</h2>
    <h3>1. Българско производство</h3>
    <p>Разполагаме с шивашки цех, оборудван със специализирани машини и технологии, както и опитен персонал, благодарение на които създаваме висококачествено дамско облекло съобразено с последните модни тенденции.</p>
    <h3>2. Сезонни колекции - есен зима пролет лято</h3>
    <p>Всеки сезон съчетаваме в специална колекция дрехи, които отговарят на съвременните модни тенденции, както и такива отговарящи на класическия стил. Уникалното е, че пускаме повече от веднъж нови продукти през сезона. Основната ни цел е да създаваме дамско облекло, което е луксозно, но и удобно и практично. За целта подбираме най-добрите материи според сезона от целия свят. Освен в онлайн магазина ни можете да намерите нашите колекции във фирмените ни магазини.</p>
    <h3>3. Големи размери</h3>
    <p>Предлагаме голям диапазон от размери. Имаме облекло, както за слаби жени, така и за макси дами. Изпълняваме и поръчки за нестандартни фигури.</p>
    <h3>4. Намаления за търсачите на модни находки</h3>
    <p>За всички търсещи модни находки с намалени цени, имаме постоянна селекция от артикули на промоционални цени. Там ще намерите евтини дамски дрехи, но със същото високо качество.</p>
    <h3>5. Цялостна визия</h3>
    <p>Независимо дали търсите ежедневно облекло, офис костюми, или костюми за сватба, ние сме Ви подбрали цялостни предложения, с които ще блеснете на Вашето събитие.</p>
    <h3>6. Продуктите на ВИЛИ СТИЛ</h3>
    <p>Тъй като ВИЛИ СТИЛ е не просто моден бранд, а начин на живот, ние се грижим да бъдете елегантни на всеки повод. Независимо дали Ви предстои сватба, кръщене, фирмен коктейл или просто бизнес среща, то ние ще се погрижим за официалното дамско облекло - <a href="{% url 'pants' %}">панталони</a>, <a href="{% url 'skirts' %}">поли</a>, <a href="{% url 'suits' %}">костюми</a>, <a href="{% url 'blazers' %}">сака</a>, <a href="{% url 'shirts' %}">ризи</a>, <a href="{% url 'dresses' %}">рокли</a>, <a href="{% url 'vests' %}">елеци</a>, <a href="{% url 'tunics' %}">туники</a>. Избирайки нашите маркови дрехи, със сигурност ще бъдете забелязана с елегантната и актуална модна визия.</p>
    <h3>7. Висококачествени материи</h3>
    <p>Всички продукти на ВИЛИ СТИЛ са произведени под строг контрол на качеството. Имаме надеждни доставчици, които ни доставят най-добрите им платове. Изработваме всеки един продукт с внимание, затова подбираме висококачествени естествени тъкани от памук, лен и вълна. За правилната структура и кройка на дрехата, се подбират и смесени платове, с оптимално количество синтетичен плат.</p>
</div>
<div class="container">
    <h2>Защо да изберете ВИЛИ СТИЛ</h2>
    <p>Защото създадохме ВИЛИ СТИЛ като нещо повече от символ на качество и стил в модата. Ние държим на Нашите клиенти, затова им предлагаме професионално обслужване и евтини цени на разнообразни маркови дрехи. Добрите оферти са комбинирани и с удобни условия за пазаруване. Клиентите имат възможност да пробват стоката, да я върнат или да я заменят.</p>
    <p>При поръчки на стойност над {% free_shipping_string request %} получавате БЕЗПЛАТНА Доставка за цялата страна до SPEEDY офис или до адрес. При възникнали въпроси или нужда от професионална консултация, имаме на разположение безплатен консултант за съдействие.</p>
</div>

{% endblock %}