{% load i18n %}
{% load shipping %}

<div class="benefit">
	<div class="container">
		<div class="row benefit_row">
			<div class="col-lg-3 benefit_col">
				<div class="benefit_item d-flex flex-row align-items-center">
					<div class="benefit_icon"><span class="fi fi-bg"></span></div>
					<div class="benefit_content">
						<h6>{% trans 'made in Bulgaria' %}</h6>
						<p>{% trans 'Our clothes are made with love in Bulgaria' %}</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 benefit_col">
				<div class="benefit_item d-flex flex-row align-items-center">
					<div class="benefit_icon"><i class="fa fa-star" aria-hidden="true"></i></div>
					<div class="benefit_content">
						<h6>{% trans 'quality guarantee' %}</h6>
						<p>{% trans 'We are proud with the quality of our craft' %}</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 benefit_col">
				<div class="benefit_item d-flex flex-row align-items-center">
					<div class="benefit_icon">
						<i class="fa fa-truck" aria-hidden="true"></i>
					</div>
					<div class="benefit_content">
						<h6>{% trans 'free shipping*' %}</h6>
						<p>{% trans '*free shipping on all orders over'|capfirst %} {% free_shipping_string request %}</p>
					</div>
				</div>
			</div>
			<div class="col-lg-3 benefit_col">
				<div class="benefit_item d-flex flex-row align-items-center">
					<div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
					<div class="benefit_content">
						<h6>45 days return</h6>
						<p>Making it Look Like Readable</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>