{% extends 'common/base.html' %}
{% load static %}
{% load i18n %}

{% block meta %}
<meta name="title" content="Контакти | Вили Стил">
<meta name="description" content="Нашият екип е винаги на разположение за всяко Ваше запитване. За поръчки и въпроси, можете да ни потърсите на 0886531811, или на shop@vilistil.com">
{% endblock %}

{% block title %}
Контакти | Вили Стил
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'plugins/themify-icons/themify-icons.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plugins/jquery-ui-1.12.1.custom/jquery-ui.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/contact_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/contact_responsive.css' %}">
{% endblock %}

{% block content %}
<div class="container contact_container">
    <div class="row">
        <div class="col">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                    <li class="active"><a href="{% url 'contact' %}"><i class="fa fa-angle-right" aria-hidden="true"></i>{% trans 'Contacts' %}</a></li>
                </ul>
            </div>

        </div>
    </div>

    <!-- Map Container -->

    <div class="row">
        <div class="col">
            <div id="google_map">
                <div class="mapframe">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2958.396778214362!2d24.543576599999998!3d42.14179540000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14acc7e1e7e5ce57%3A0x75080b72b165f0e1!2z0JLQmNCb0Jgg0KHQotCY0Jsg0J7QntCU!5e0!3m2!1sbg!2sbg!4v1777892522746!5m2!1sbg!2sbg" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- Factory Photo -->

    <div class="factory-photo">
        <img src="{% static 'images/factory.jpg' %}" alt="цех Вили Стил">
    </div>

    <!-- Contact Us -->

    <div class="row">

        <div class="col-lg-6 contact_col">
            <div class="contact_contents">
                <h1>{% trans 'Contact Us' %}</h1>

                <div>
                    <h5>{% trans 'Factory and Central Store' %}</h5>
                    <p>{% trans 'Bulgaria' %}</p>
                    <p>{% trans 'Stambloiyski 4210' %}</p>
                    <p>{% trans 'Trakia BLVD 42' %}</p>
                </div>

                <div>
                    <p>{% trans 'For orders or questions, you can contact us at:' %}</p>
                    <p>- <a href="tel:+359886531811">+359 886 531 811</a></p>
                    <p>- <a href="mailto:shop@vilistil.com">shop@vilistil.com</a></p>
                </div>
                <div>
                    <p>{% trans 'For wholesale orders:' %}</p>
                    <p>- <a href="tel:+359888806292">+359 888 806 292</a></p>
                </div>
                <div>
                    <p>{% trans 'Open hours:' %}</p>
                    <p>{% trans 'Monday - Friday: 8:00am - 5:00pm' %}</p>
                    <p>{% trans 'Saturday and Sunday: Closed' %}</p>
                </div>
            </div>

            <!-- Follow Us -->

            <div class="follow_us_contents">
                <h2>{% trans 'Follow Us' %}</h2>
                <ul class="social d-flex flex-row">
                    <li><a href="https://www.facebook.com/vilistyle" target="_blank" style="background-color: #3a61c9"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/vili.stil/" target="_blank" style="background-color: #8f6247"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>

        </div>

        <div class="col-lg-6 get_in_touch_col">
            <div class="get_in_touch_contents">
                <h2>{% trans 'Get In Touch With Us' %}</h2>
                <p>{% trans 'Fill out the form below, and we will contact you.' %}</p>
                <form method="post" action="{% url 'contact-message' %}">
                    {% csrf_token %}

                    <div>
                        {{ form }}
                    </div>
                    <div>
                        <button id="review_submit" type="submit" class="red_button message_submit_btn trans_300" value="Submit">{% trans 'send message' %}</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'plugins/jquery-ui-1.12.1.custom/jquery-ui.js' %}"></script>
<script src="{% static 'js/contact_custom.js' %}?v=1"></script>
{% endblock %}