{% load i18n %}
{% load static %}
{% load shipping %}

<!-- Header -->
<header class="header trans_300">

	<!-- Top Navigation -->

	<div class="top_nav">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<div class="top_nav_left">{% trans 'free shipping on all orders over' %} {% free_shipping_string request %}</div>
				</div>
				<div class="col-md-6 text-right">
					<div class="top_nav_right">
						<ul class="top_nav_menu">

							<!-- Currency / Language / My Account -->

							<li class="currency">
								<a href="#">
									{{ request.session.currency|default:'bgn' }}
									<i class="fa fa-angle-down"></i>
								</a>
								<ul class="currency_selection">
									<li><a href="#" onclick="changeCurrency('BGN')">bgn</a></li>
									<li><a href="#" onclick="changeCurrency('EUR')">eur</a></li>
								</ul>
							</li>
							<li class="language">
								<a href="#">
									{% if request.LANGUAGE_CODE == 'bg' %}
										<span class="fi fi-bg"></span>
									{% elif request.LANGUAGE_CODE == 'en' %}
										<span class="fi fi-gb"></span>
									{% else %}
										<span class="fi fi-bg"></span>
									{% endif %}
									<i class="fa fa-angle-down"></i>
								</a>
								<ul class="language_selection">
									<li><a href="#" onclick="changeLanguage('bg')"><span class="fi fi-bg"></span></a></li>
									<li><a href="#" onclick="changeLanguage('en')"><span class="fi fi-gb"></span></a></li>
								</ul>
							</li>
							<li class="account">
								
								<a href="#">
									{% if request.user.is_authenticated %}
										{{ request.user.email }}
									{% else %}
										{% trans 'Anonymous' %}
									{% endif %}
									<i class="fa fa-angle-down"></i>
								</a>
								<ul class="account_selection">
									{% if request.user.is_authenticated %}
									<li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>{% trans 'My Account' %}</a></li>
									<li><a href="#" onclick="document.getElementById('logout-form').submit()"><i class="fa fa-sign-out" aria-hidden="true"></i>{% trans 'Log out' %}</a></li>
									{% else %}
									<li><a href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i>{% trans 'Sign In' %}</a></li>
									<li><a href="{% url 'register' %}"><i class="fa fa-user-plus" aria-hidden="true"></i>{% trans 'Register' %}</a></li>
									{% endif %}
								</ul>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Main Navigation -->

	<div class="main_nav_container">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 text-right">
					<div class="logo_container">
						<a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt="logo"></span></a>
					</div>
					<nav class="navbar">
						<ul class="navbar_menu">
							<li><a href="{% url 'home' %}">{% trans 'home' %}</a></li>
							<li class="has-dropdown">
								<a href="#" data-toggle="dropdown"
								   onclick="document.querySelector('.dropdown').classList.toggle('show');"
								>
									{% trans 'categories' %} <i class="fa fa-angle-down"></i>
								</a>
								<ul class="dropdown">
									<li><a href="#">{% trans 'pants' %}</a></li>
									<li><a href="#">{% trans 'skirts' %}</a></li>
									<li><a href="#">{% trans 'dresses' %}</a></li>
									<li><a href="#">{% trans 'shirts' %}</a></li>
									<li><a href="#">{% trans 'blouses' %}</a></li>
									<li><a href="#">{% trans 'blazers' %}</a></li>
									<li><a href="#">{% trans 'suits' %}</a></li>
									<li><a href="#">{% trans 'jackets' %}</a></li>
									<li><a href="#">{% trans 'vests' %}</a></li>
									<li><a href="#">{% trans 'tunics' %}</a></li>
									<li><a href="#">{% trans 'coats' %}</a></li>
								</ul>
							</li>
							<li><a href="#">{% trans 'new' %}</a></li>
							<li><a href="#">{% trans 'bestsellers' %}</a></li>
							<li><a href="#">{% trans 'sale' %}</a></li>
<!--							<li><a href="#">{% trans 'our shops' %}</a></li>-->
<!--							<li><a href="#">{% trans 'contacts' %}</a></li>-->
						</ul>
						<ul class="navbar_user">
							<li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
							<li><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></li>
							<li class="checkout">
								<a href="#">
									<i class="fa fa-shopping-cart" aria-hidden="true"></i>
									<span id="checkout_items" class="checkout_items">2</span>
								</a>
							</li>
						</ul>
						<div class="hamburger_container">
							<i class="fa fa-bars" aria-hidden="true"></i>
						</div>
					</nav>
				</div>
			</div>
		</div>
	</div>

</header>

<div class="fs_menu_overlay"></div>
<div class="hamburger_menu">
	<div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
	<div class="hamburger_menu_content text-right">
		<nav class="mobile_nav">
			<ul class="menu_top_nav">
				<li class="menu_item has-children">
					<a href="#">
						{{ request.session.currency|default:'bgn' }}
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a href="#" onclick="changeCurrency('BGN')">bgn</a></li>
						<li><a href="#" onclick="changeCurrency('EUR')">eur</a></li>
					</ul>
				</li>
				<li class="menu_item has-children">
					<a href="#">
					{% if request.LANGUAGE_CODE == 'bg' %}
						<span class="fi fi-bg"></span>
					{% elif request.LANGUAGE_CODE == 'en' %}
						<span class="fi fi-gb"></span>
					{% else %}
						<span class="fi fi-bg"></span>
					{% endif %}
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
						<li><a href="#" onclick="changeLanguage('bg')"><span class="fi fi-bg"></span></a></li>
						<li><a href="#" onclick="changeLanguage('en')"><span class="fi fi-gb"></span></a></li>
					</ul>
				</li>
				<li class="menu_item has-children">
					<a href="#">
					{% if request.user.is_authenticated %}
						{{ request.user.email }}
					{% else %}
						{% trans 'Anonymous' %}
					{% endif %}
						<i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection">
					{% if request.user.is_authenticated %}
						<li><a href="#"><i class="fa fa-user" aria-hidden="true"></i>{% trans 'My Account' %}</a></li>
						<li><a href="#" onclick="document.getElementById('logout-form').submit()"><i class="fa fa-sign-out" aria-hidden="true"></i>{% trans 'Log out' %}</a></li>
					{% else %}
						<li><a href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i>{% trans 'Sign In' %}</a></li>
						<li><a href="{% url 'register' %}"><i class="fa fa-user-plus" aria-hidden="true"></i>{% trans 'Register' %}</a></li>
					{% endif %}
					</ul>
				</li>
				<li class="menu_item"><a href="{% url 'home' %}">{% trans 'home' %}</a></li>
				<li class="menu_item has-children">
					<a href="#" onclick="document.querySelector('.mobile_dropdown').classList.toggle('show');">
					{% trans 'categories' %} <i class="fa fa-angle-down"></i>
					</a>
					<ul class="menu_selection mobile_dropdown">
						<li><a href="#">{% trans 'pants' %}</a></li>
						<li><a href="#">{% trans 'skirts' %}</a></li>
						<li><a href="#">{% trans 'dresses' %}</a></li>
						<li><a href="#">{% trans 'shirts' %}</a></li>
						<li><a href="#">{% trans 'blouses' %}</a></li>
						<li><a href="#">{% trans 'blazers' %}</a></li>
						<li><a href="#">{% trans 'suits' %}</a></li>
						<li><a href="#">{% trans 'jackets' %}</a></li>
						<li><a href="#">{% trans 'vests' %}</a></li>
						<li><a href="#">{% trans 'tunics' %}</a></li>
						<li><a href="#">{% trans 'coats' %}</a></li>
					</ul>
				</li>
				<li class="menu_item"><a href="#">{% trans 'new' %}</a></li>
				<li class="menu_item"><a href="#">{% trans 'bestsellers' %}</a></li>
				<li class="menu_item"><a href="#">{% trans 'sale' %}</a></li>
			</ul>
		</nav>
	</div>
</div>

<form action="{% url 'logout' %}" method="post" id="logout-form">
	{% csrf_token %}
</form>

<form action="{% url 'set_language' %}" method="post" id="language-form">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.get_full_path }}">
	<input id="language-input" type="hidden" name="language" value="">
</form>

<form action="{% url 'set-currency' %}" method="post" id="currency-form">
	{% csrf_token %}
	<input name="next" type="hidden" value="{{ request.get_full_path }}">
	<input id="currency-input" type="hidden" name="currency" value="">
</form>

<script>
	function changeLanguage(language) {
		document.getElementById('language-input').value = language;
		document.getElementById('language-form').submit();
	}

	function changeCurrency(currency) {
	console.log(currency);
	document.getElementById('currency-input').value = currency;
	document.getElementById('currency-form').submit();
	}
</script>