{% extends 'common/base.html' %}
{% load static %}
{% load shipping %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/info_styles.css' %}">
{% endblock %}

{% block content %}
<div class="container first-container">
    <h1>ПОЛИТИКА ЗА ПОВЕРИТЕЛНОСТ</h1>

    <p class="list-title">ЗАЩИТА НА ЛИЧНИТЕ ДАННИ И GDPR</p>
    <p>Тази политика за поверителност предоставя информация относно личните данни, които ВИЛИ СТИЛ обработва, условията и реда, по който физическите лица, чиито лични данни се обработват, упражняват правата си.</p>
    <p>„Лични данни“ означава всяка информация, свързана с идентифицирано физическо лице, което може да бъде идентифицирано („субект на данни“); Идентифицируемо физическо лице е лице, което може да бъде идентифицирано, пряко или непряко, по-специално чрез идентификатор като име, идентификационен номер, данни за местоположение, онлайн идентификатор или чрез една или повече характеристики, специфични за това физическо лице;</p>
    <p>Принципите, свързани с обработката на лични данни, са следните:</p>
    <p>1. Принцип на законосъобразност, добросъвестност и прозрачност на обработването на лични данни: събирането на лични данни трябва да бъде в рамките на необходимото. Информацията се събира по законен и обективен начин;</p>
    <p>2. Принцип на минимизиране на данните, както и ограничаване на целите и съхранението: личните данни не трябва да се използват за цели, различни от тези, за които са събрани, освен със съгласието на лицето или в случаите, изрично предвидени в закона. Личните данни трябва да се съхраняват за период не по-дълъг от необходимия за целите, за които се обработват личните данни;</p>
    <p>3. Принцип на точност: личните данни трябва да бъдат точни, точни, пълни и актуални, доколкото това е необходимо за целите, за които се обработват;</p>
    <p>4. Принцип на почтеност и поверителност: личните данни трябва да се обработват по начин, който осигурява подходящо ниво на сигурност на личните данни, включително защита срещу неразрешено или незаконосъобразно обработване и срещу случайна загуба, унищожаване или повреда, като се прилагат подходящи технически или организационни мерки.</p>
    <p>Обработват се следните категории лични данни: име и фамилия, имейл адрес, град, адрес, улица, номер, телефон, IP адрес (локация). ВИЛИ СТИЛ използва следните уебсайтове (трети страни) и техните бисквитки: Google Analytics, Google AdWords, Facebook и Instagram, както и своите служебни бисквитки, които са необходими за нормалното функциониране на сайта.</p>
    <p>При желание от страна на Потребителя, той може да достъпи съхранените негови лични данни в страницата на своя профил и при желание, те да бъдат коригирани, или напълно заличени.</p>
</div>
{% endblock %}