{% extends 'common/base.html' %}
{% load static %}
{% load shipping %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/info_styles.css' %}">
{% endblock %}

{% block content %}
<div class="container first-container">
    <h1>ЗАМЯНА И ВРЪЩАНЕ НА СТОКА</h1>

    <p>Потребителят има право да върне закупена от него стока от интернет магазина в срок от 7 /седем/ работни дни от доставката. Стоката трябва да е в пълна окомплектовка, в оригиналната си опаковка и етикети и в отличен търговски вид.</p>
    <p>При констатация на дефектен продукт до 24ч. от получаването му и при ненарушен търговски вид на стоката и опаковката, ние се ангажираме той да бъде подменен с нов, или да възстановим заплатената от Вас стойност на стоката. В този случай Потребителят има право да получи обратно заплатената от него сума, в 15-дневен срок от връщането на стоката.</p>
    <p>В случай на връщане на стока и/или рекламация от страна на Потребителя, той трябва да се обади на телефон - 0886 53 18 11 за уточняване на детайлите по връщането. Стоката трябва да бъде върната на адреса на Доставчика: 4210 гр. Стамболийски, бул. "Тракия" №42.</p>
    <p>Разходите за доставка на върнатата стока са за сметка на Потребителя.</p>
    <p>В случай, че Потребителят е платил с банков превод, сумата се възстановява по същата банкова сметка, от която е постъпило плащането.</p>
    <p>Ако Потребителят желае да направи замяна, може да прати стоката на адрес: 4210 гр. Стамболийски, бул. "Тракия" №42, а при желание и възможност може да я замени и в някой от фирмените магазини на Вили Стил.</p>
    <p>Ако Потребителят желае да върне стоката и да му бъде възстановена нейната стойност, връщането става само с пратка на адрес: 4210 гр. Стамболийски, бул. "Тракия" №42.</p>
    <p class="list-title">Гаранционни условия</p>
    <p>“ВИЛИ СТИЛ” ООД гарантира за високото качеството на артикулите, предлагани в онлайн магазина, при правилно третиране и стриктно спазване на инструкциите на етикетите на всеки артикул.</p>
</div>
{% endblock %}