{% extends 'common/base.html' %}
{% load static %}
{% load shipping %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/main_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/responsive.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'styles/info_styles.css' %}">
{% endblock %}

{% block content %}
<div class="container first-container">
    <h1>УСЛОВИЯ ЗА ДОСТАВКА</h1>

    <p class="list-title">Срок и цена на доставка</p>
    <p>Срокът за доставка на поръчката е до 2 работни дни. В някои случаи, срокът за доставка може да се увеличи, за което Потребителят ще бъде своевременно уведомен.</p>
    <p>Доставката се извършва с куриерска фирма - Спиди, или Еконт от понеделник до събота до адрес на Потребителя.</p>
    <p>В случай, че желаете да получите пратката си до офис на куриерската фирма, моля упоменете го изрично на оператора при потвърждаването на поръчката.</p>
    <p>На официалните празници – доставка по предварително установен график на куриерската фирма. Цената на доставката е според ценоразписа на куриера. Покупки над {% free_shipping request %} лв., след приспаднати всички отстъпки, ваучери, промоции и др. се доставят на територията на България - БЕЗПЛАТНО.</p>
    <p>В случай на забавяне на доставката, независимо от причините, операторът на “ВИЛИ СТИЛ” ООД е длъжен да уведоми Потребителя за това и да посочи нова дата на доставка.</p>
    <p class="list-title">Доставка на стока</p>
    <p>Всички подробности относно доставката ще бъдат уточнени в телефонния разговор за потвърждение на Вашата поръчка. В опаковката на всяко закупено изделие, Потребителят получава документ за извършено плащане.</p>
    <p>Заявената при поръчка стока от Потребителя се доставя в подходящ вид на посочения от Потребителя адрес за доставка в предварително уговорения срок за доставка. Поръчаният артикул се предава на адреса за доставка на Потребителя или на трето лице-представител на Потребителя, което приема и потвърждава чрез подписване на придружаващите пратката документи, служещи за потвърждението за получаване на пратката от Потребителя.</p>
    <p>В случай, че Потребителят не бъде намерен в срока за доставка на стоката или не бъде осигурен достъп и условия за предаване на стоката в този срок, Доставчикът се освобождава от задължението си да достави заявената стока.</p>
    <p>Потребителят може да потвърди желанието си да получи стоката и след първоначалния срок за изтичане на доставка, в който не е бил намерен на адреса, като поема всички разходи по доставката. В този случай започва да тече нов срок за доставка от момента на потвърждението по предходното изречение.</p>
</div>
{% endblock %}